{% extends 'base.html.twig' %}

{% block title %}Update {{ person.name }}{% endblock %}

{% block body %}
    <h1>Update {{ person.name }}</h1>
    {% block form %}
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit">Submit form</button>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
